<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Setor</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="1"></td>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos_por_setor %>
    </tbody>
</table>

<%= link_to 'Editar', edit_setor_path(@setor), class:"btn btn-default" %> |
<%= link_to 'Voltar', setors_path, class:"btn btn-default" %>
